/* top nav */
.top-nav{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 42px;
    border-bottom: 2px solid #0B5351;
    z-index:50;
}
.nav-container{
    width:85%;
    margin-left: auto;
    margin-right: auto;
    
    padding-left: 2%;
    padding-right: 2%;
}
.top-nav h1{
    margin-top: 8px;
    float:left;
}

.nav-bar{
    float: right;
}

.nav-bar li{
    float: left;
    margin-left: 5px;
    margin-right:5px;
}

.nav-bar a{
    text-align: center;
    height: 40px;
    min-width:70px;
    padding: 2px 5px 2px 5px;
    color:#f15025;
    font-weight: bold;
    line-height: 40px;
}

.nav-bar a:hover{
    background-color: #f15025;
    color: #191919;
}
.nav-bar a:focus{
    background-color: #3f3f3f;
    color: #f07553;
}

.active a,.active a:hover,.active a:focus{
    color: #117470 ;
    background-color: #092327;
    text-decoration: underline;
}

.burger-menu{
    float:right;
    background: url('/img/ui/burger_button.png') no-repeat top left;
    background-size: contain;
    width:40px;
    height: 40px;
    border: none;
    display:none;
}
.burger-menu:hover,.burger-menu:focus{
    background-image: url(/img/ui/burger_button_hover.png);

}

/* main welcome */
.content-main{
    margin-top:42px;
    padding-top:20px;
}
.content-main h3{
    padding-top:12px;
}
 .welcome-container,.list-container{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
 }

 .content-left{
    float: left;
    width: 78%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 8px;
    min-height: 700px;
 }
.content-right{
    float:left;
    width: 18%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 8px;
    min-height: 700px;
}
.newsfeed li{
    margin-top: 15px;
    border-bottom: 1px solid #3f3f3f;
    min-height: 50px;
    width: 100%;
}
.sell-out{
    height:253px;
    background: url('../img/ui/anzeige_fake.jpg') no-repeat top left;
}

#welcome{
    background-image: url('../img/ui/bg_main.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    height:700px;
    padding-top: 200px;
}

#welcome h2{
    
    color: #f15025;
    font-size: 28px;
    background-color: #191919;
    min-height:34px;
    border-top: 1px solid #f15025;
    border-bottom: 1px solid #f15025;
}

#welcome p{
    padding-top: 100px;
    color: #eef0f2;
    font-weight: bold;
}

#welcome a{
    text-decoration: none;
    color: #f15025;
}
/* main book list */

.sort-bar{
    width: 100%;
    color: #191919;
    height: 28px;
    margin-top:15px;
    text-align: left;
    border-top: 2px solid #117470;
    border-bottom: 2px solid #117470;
}
.sort-bar p{
    float:left;
    line-height: 28px;
}
.sort-bar button{
    float:right;
    height:24px;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #117470;
    color: #eef0f2;
    border-radius: 2px;
    font-weight: bold;
}
.sort-bar button:hover{
    background-color: #191919;
    color: #f15025;
    
}

.book-prev{
    width:100%;
}

.book-prev li{
    margin-top: 10px;
    border-bottom: 1px solid #f15025;
    border-top: 1px solid #f15025;
    background-color: #092327;
}
.book-prev li:after{
    content: "";
    display:table;
    clear:both;
}
.book-prev li a{
    display: block;
    width: 62%;
    height: 113px;
    position: absolute;
    left: auto;
    z-index: 10;
}
.book-prev li a:hover{
    background-color: #19a8a440;
}
.book-prev li button{
    clear:both;
    float:right;
}
.book-prev li img{
    float: left;
}
.book-prev h3{
    font-size: 16px;
    color: #1ab3ad;
}
.book-prev h4{
    font-size: 14px;
}
.book-prev li div{
    float: left;
    margin-left: 10px;
    text-align: left;
}
.book-data{
    clear:both;
    float:left;
    margin-left: 10px;
    margin-top: 5px;
}
.book-data span{
    display:block;
}
.book-userdate{
    font-style: italic;
    color: #117470;
}
.book-description{
    margin-top: 10px;
    float:left;
    margin-left: 15px;
    width: 50%;
    text-align: left;
}

/* book review page */

.hide-butt{
    width:160px;
    height:26px;
    border:none;
    font-weight: bold;
    border-radius: 3px;
    background-color: #f15025;
    color:#191919;
}
.hide-butt:hover,.hide-butt:focus{
    background-color: #0B5351;
    color: #eef0f2;
    box-shadow: 2px 2px 3px black;
}

.book-large{
    background-color: #092327;
    padding-bottom: 30px;;
}
.book-large-data{
    padding:10px;
    background-color: #092327;
    border-bottom: 1px solid #f15025;
    border-top: 1px solid #f15025;
}
.book-large-data img{
    float:left;
    margin-right: 10px;
}
.book-large-data h3{
    font-size: 22px;
    color: #eef0f2;
    text-align: left;
    margin-bottom: 10px;
    border-bottom: 1px solid #117470;
}
.book-large-data h4{
    font-size: 18px;
    color: #eef0f2;
    text-align: left;
    margin-bottom: 15px;
    border-bottom: 1px solid #117470;
}

.book-large-data p{
    text-align: left;
    margin-bottom: 30px;
    border-bottom: 1px solid #117470;
}

.book-large-data span{
    display:block;
}

.book-reviews{
    margin-top: 15px;
    padding: 8px;
    width:98%;
    margin-left: auto;
    margin-right: auto;
    background-color: #191919;
}
.rev-single{
    background-color: #092327;
    border-bottom: 2px solid #f15025;
    padding-top:15px;
    padding-bottom: 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.book-reviews h3{
    margin-bottom:5px;
    border-bottom: 1px solid #f07553;
}
.rev-single header{
    margin-bottom:5px;
    border-bottom: 1px solid #f07553;
    color:#f07553;
}
.rev-single h4{
    float: left;
    margin-left: 18px;
    font-size: 20px;
    color: #f15025;
    margin-bottom: 15px;
}
.rev-data{
    float: right;
    margin-right: 10px;
}
.rev-single p{
    width:100%;
    margin-bottom: 8px;
    background-color: #191919;
    text-align: left;
    padding:10px;
    
    border: 1px solid #f07553;
}

.rev-comments{
    width: 70%;
    margin-left: 25%;
}
.comm-single{
    margin-top: 15px;
    border: 1px solid #117470;
}
.comm-single h5{
    float:left;
    font-size: 18px;
    color: #1ab3ad;
    margin-top:10px;
    margin-left:10px;
}
.comm-single p{
    border: none;
    background-color: #092327;
    text-align: left;
    width: 100%;
    border-top: 1px solid #117470;
}
.comm-data{
    float: right;
    margin-top:10px;
    margin-right:10px;
}


/* footer */
footer{
    min-height: 60px;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    border-top: 2px solid #3f3f3f;
}

.foot-nav{
    width: 36%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10px;
}

.foot-nav li{
    display: inline-block;
    width:28%;
}
.foot-nav a{
    display:block;
    height:32px;
    line-height: 32px;
    width:100%;
    color: #191919;
    outline: 1px solid #191919;
    font-weight: bold;
}
.foot-nav a:hover{
    background-color: #191919;
    color: #f15025;
}
.sub-active a,.sub-active a:hover,.sub-active a:focus{
    color: #eef0f2;
    background-color: #f15025;
    text-decoration: underline;
    outline:none;
}
.stuff{
    min-height: 50px;
    background-color: #092327;
    
    border-top: 2px solid #117470;
}